body{background-image: url(gaming.jpg); height: 90vh; background-size: cover; background-position: center;}

.github{position: absolute; top: 30%; left: 33%;}

.linkedin{position: absolute; top: 30%; left: 53%;}

h1{position: absolute; top:55%; left: 44%;}