* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(gaming.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 35px;
    margin-right: 35px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border: 3px solid white;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: white;
    color: black;
}

ul li.active a {
    background-color: white;
    color: black;
}

.logo img {
    position: absolute;
    top: 1.5%;
    left: 7%;
    width: 80px;
    height: auto;
}

.github {
    position: absolute;
    top: 30%;
    left: 33%;
}

.linkedin {
    position: absolute;
    top: 30%;
    left: 53%;
}

h1 {
    position: absolute;
    top: 57%;
    left: 44%;
    color: red;
    text-decoration: overline;
    border: black;
}