header{background-image: url(gaming.jpg); height: 150vh; background-size: cover; background-position: center;}

ul{float: right; list-style-type: none; margin-top: 35px; margin-right: 35px;}
ul li{display: inline-block;}
ul li a{text-decoration: none; color: white; padding: 15px 20px; border: 3px solid white; transition: 0.5s ease;}

ul li a:hover{background-color: white; color: black;}
ul li.active a{background-color: white; color: black;}


.paint{position: absolute; top: 20%; left: 15%;}
.odsnake{position: absolute; top: 20%; left: 55%;}
.mole{position: absolute; top: 70%; left: 15%;}
.localsnake{position: absolute; top: 70%; left: 55%;}
.multisnake{position: absolute; top: 120%; left: 35%;}

.paint1{position: absolute; top: 58%; left: 27%;}
.odsnake1{position: absolute; top: 58%; left: 67%;}
.mole1{position: absolute; top: 108%; left: 27%;}
.localsnake1{position: absolute; top: 108%; left: 67%;}
.multisnake1{position: absolute; top: 158%; left: 47%;}

body{background-color: black;}




.logo img{position: absolute; top: 10; left: 5%; width: 80px; height: auto;}

.main{max-width: 1200px; margin: auto;}