* {
	margin: 0;
	padding: 0;
}

main {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/gaming.jpg);
	height: auto;
	background-size: cover;
	background-position: center;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 35px;
	margin-right: 35px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: white;
	padding: 15px 20px;
	border: 3px solid white;
	transition: 0.5s ease;
}

ul li a:hover {
	background-color: white;
	color: black;
}

ul li.active a {
	background-color: white;
	color: black;
}

.games {
	display: grid;
	grid-template-columns: repeat(auto-fill, 400px);
	justify-content: center;
	align-content: center;
	column-gap: 100px;
	row-gap: 150px;
	text-align: center;
}

.child img {
	width: 400px;
	height: 225px;
}

.logo img {
	position: absolute;
	top: 1.5%;
	left: 7%;
	width: 80px;
	height: auto;
}
