.wave5 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave5 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
}

.wave5 .shape-fill {
  fill: var(--bs-blue);
}
